{% extends 'layout.html' %}

{% block content %}
    <section class="section-booking bg1-pattern p-t-100 p-b-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-b-30">
                    <div class="t-center">
                        <span class="tit2 t-center">
                            Oops. Page Not Found (404)
                        </span>

                        <h3 class="tit3 t-center m-b-35 m-t-2">
                            That page does not exist. Please try a different location
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}