{% extends 'layout.html' %}
{% block content %}
	<section class="section-booking bg1-pattern p-t-100 p-b-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 p-b-30">
					<div class="t-center">
						<span class="tit2 t-center">
							DEV_ASK is a website where developers can come when they are stuck.
							It was created as an alternative to StackOverflow.
							Here are no upvotes or downvotes, nor time limits between posting questions.
						</span>

					</div>

				<div class="col-lg-6 p-b-30 p-t-18">
					
				</div>
			</div>
		</div>
	</section>
{% endblock content %}